manifest {
    name            = 'modular-human-genomics-pipeline'
    author          = 'Hasan Efe Mihci'
    description     = 'Modular and reproducible workflow for human germline whole-genome sequencing analysis'
    mainScript      = 'workflow/main.nf'
    nextflowVersion = '>=25.04.0'
}

process {
    errorStrategy = 'terminate'
}

params {
    input  = 'config/samplesheet.csv'
    outdir = 'results'
}
