manifest {
    name            = 'modular-human-genomics-pipeline'
    author          = 'Hasan Efe Mihci'
    description     = 'Modular and reproducible workflow for human germline whole-genome sequencing analysis'
    mainScript      = 'workflow/main.nf'
    nextflowVersion = '>=25.04.0'
}

process {
    errorStrategy = 'terminate'
}

docker {
    enabled = true
}

params {
    input  = 'config/samplesheet.csv'
    outdir = 'results'

    reference =
        'reference/grch38/GRCh38_no_alt_analysis_set.fasta'

    raw_qc_thresholds =
        'config/qc/raw_qc_thresholds.yaml'

    alignment_qc_thresholds =
        'config/qc/alignment_qc_thresholds.yaml'

    /*
     * Available:
     *
     * smoke
     * wgs35x
     *
     * Production/default analysis uses wgs35x.
     * Smoke testing explicitly overrides this parameter.
     */
    alignment_qc_profile = 'wgs35x'

    /*
     * Germline small-variant calling.
     *
     * Production default:
     *   whole genome
     *
     * Smoke tests can override with:
     *   --deepvariant_region chr20:10000000-11000000
     */
    deepvariant_image = 'google/deepvariant:1.10.0'
    deepvariant_model_type = 'WGS'
    deepvariant_region = null
}
